<!-- define a fragment named "navbar" -->
<div th:fragment="navbar" class="Navbar">
    <div class="Logo">
        <a th:href="@{/home}">
            <img class="Logo_img" th:src="@{/image/brandlogo.jpg}" alt="logo"/>
        </a>
    </div>
    <!--        <input class="search_bar" type="text" placeholder="Search products" style="padding-left: 4%; margin-left: 6%;">-->
    <!--        &lt;!&ndash;        todo need to implement search functionality&ndash;&gt;-->
    <!--        <img class="search" th:src="@{/image/search.png}" alt="search" style="margin-left: -71%;">-->

    <div style="position: relative; display: inline-block;">
        <input id="searchBar"
               class="search_bar"
               type="text"
               placeholder="Search products"
               style="padding-left: 4%; margin-left: 6%;">

        <img class="search" th:src="@{/image/search.png}" alt="search" style="margin-left: -71%;">

        <!-- Results dropdown -->
        <div id="searchResults"
             style="position:absolute; top:100%; left:6%; width:300px; background:white;
                border:1px solid #ccc; display:none; z-index:999; max-height:300px; overflow-y:auto;">
        </div>
    </div>


    <!--    todo need to configure the wishlist.html and profile.html-->
    <div class="Navbar_Icons" style="margin-bottom: 4%;">
        <a th:href="@{/cart}" title="My Cart">
            <img class="Icons" th:src="@{/image/cart.png}" alt="icon">
        </a>
        <a th:href="@{/wishlist}" title="Wishlist">
            <img class="Icons" th:src="@{/image/heart_66744.png}" alt="icon">
        </a>
        <a th:href="@{/purchase-history/me}" title="MyOrders">
            <img class="Icons" th:src="@{/image/my-orders.png}" alt="icon">
        </a>
        <a th:href="@{/profile}" title="Profile">
            <img class="Icons" th:src="@{/image/user_149452.png}" alt="icon">
        </a>
        <!-- Show only if user is authenticated -->
        <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}" title="Logout">
            <img class="Icons" th:src="@{/image/logout.png}" alt="Logout">
        </a>
    </div>
</div>


<!--todo logout DONE-->
<!--todo profile for the user DONE-->
<!--todo resend confirmation link functionality.  DONE-->
<!--todo need to save the profile information for the user DONE-->
<!--todo sending confirmation email, after registering DONE-->
<!--todo wish list saved to the user DONE-->
<!--todo product display page DONE-->
<!--todo stock for the product DONE-->
<!-- todo cart, for the user DONE-->
<!--todo show the stock in the product display page DONE-->
<!--todo checkout page done-->
<!--todo buy now page DONE-->
<!--todo buy now from the product display page DONE-->
<!--todo user purchase history creation DONE-->
<!--todo checkout page with Esewa and Khalti (fake validation) last DONE-->
<!--todo, hide the pin in the esewa, khalti validation DONE.-->
<!--todo link up the purchase history with the order (purchase_history is basically the order), need to show it in the backend. DONE -->
<!--todo order tracking, (controlled from the admin side) DONE-->
<!--todo view  MY orders section FOR THE USER DONE -->
<!-- todo search product functionality DONE-->
<!--todo search when not logged in DONE-->

<!-- todo user list in the admin (where we can view wishlists, other profile information-->
<!--todo forgot email, password functionality-->
<!-- todo user roles, for admin and normal users-->
<!--todo implement paginations-->
<!--todo error page-->
<!-- todo discount, promo code-->
<!--todo "session" (logout automatically after a certain time) -->
<!--todo cancel order for the user-->

<!--
order statuses:
1. 	Payment-Completed
2. Verified
3. Processing
4. Handed Over to Delivery
5. Arriving
6. Delivered
7. Canceled
-->